.playlist-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: start;
}

.playlist-page .playlist-header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: grid;
  place-items: center;
}

.playlist-page .header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  background-size: 1000000px 1000000px;
  filter: blur(30px);
}

.playlist-page .playlist-header > h1 {
  z-index: 999;
  color: white;
}
