.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}

header {
  position: fixed;
  top: 36px;
}

header > h1 {
  font-size: 16px;
  color: #000;
}

.main {
  width: 68%;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.phone-input,
.password-input {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-input {
  margin-bottom: 30px;
}

label {
  height: 16px;
  line-height: 16px;
}

input {
  border: 1px solid #999999;
  outline: none;
  border-radius: 40px;
  height: 40px;
  width: 170px;
  padding: 0 20px;
  font-size: 16px;
  background-color: #ffffff;
  transition: 0.3s;
}

input:focus {
  border-color: #666666;
  transform: 0.3s;
}

.login-button {
  display: grid;
  place-items: center;
}

.login-button > button {
  margin: 0;
  border: none;
  height: 40px;
  width: 150px;
  background-color: #f05454;
  color: #ffffff;
  transition: 0.3s;
}

.login-button > button:hover,
.login-button > button:active {
  background-color: brown;
  transition: 0.1s;
}
