.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}

header {
  position: fixed;
  top: 36px;
}

header > h1 {
  font-size: 16px;
  color: #000;
}

.main {
  width: 68%;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

input {
  border: 1px solid #999999;
  outline: none;
  border-radius: 40px;
  height: 40px;
  width: 170px;
  padding: 0 20px;
  font-size: 16px;
  background-color: #ffffff;
  transition: 0.3s;
}
